body {

	font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', 
	'Geneva', Verdana, sans-serif;
  background-color: rgba(187, 110, 38, 0.5);
  margin: 0;
  height: 100%;
  color: rgb(168, 56, 219);
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%)
}

.botchat {
	height: 250px;
	width: 40vw;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
}

.messages {
	display: flex;
	flex-direction: column;
	overflow: scroll;
	height: 90%;
	width: 100%;
	background-color: rgb(228, 228, 228);
	padding: 15px;
	margin: 15px;
	border-radius: 10px;
}

input { 
	font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', 
	'Geneva', Verdana, sans-serif;

	border: 0; 
	padding: 15px; 
	margin-left: auto;
	border-radius: 10px; 
}

  .svg-wrapper {
	padding: 15px;
	height: 100px;
	margin-left: auto;
	position: absolute;
	top: 65%;
	left: 280%;
	transform: translateY(-50%);
	width: 1100px;
  }
  
  .shape {
	fill: transparent;
	stroke-dasharray: 340 540;
	stroke-dashoffset: -474;
	stroke-width: 2px;
	stroke:#025FCC;
  }
  
  
  @keyframes draw {
	0% {
	  stroke-dasharray: 140 540;
	  stroke-dashoffset: -474;
	  stroke-width: 3px;
	}
	100% {
	  stroke-dasharray: 760;
	  stroke-dashoffset: 0;
	  stroke-width: 2px;
	}
  }
  
  .svg-wrapper:hover .shape {
	-webkit-animation: 0.7s draw linear forwards;
	animation: 0.7s draw linear forwards;
  }